<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>guess</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>orginalprice</key>
				<string>106</string>
				<key>price</key>
				<string>88</string>
				<key>title</key>
				<string>新农盟黑蒜</string>
				<key>score</key>
				<string>5</string>
				<key>intro</key>
				<string>黑蒜含有效阻断致癌物质亚硝胺合成,天然绿色食品。</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/06/23/index_20150623103654000000_1_52741_43.jpg</string>
				<key>name</key>
				<string>新农盟黑蒜</string>
			</dict>
			<dict>
				<key>orginalprice</key>
				<string>15</string>
				<key>price</key>
				<string>12</string>
				<key>title</key>
				<string>丽驰：奶油小方</string>
				<key>score</key>
				<string>3</string>
				<key>intro</key>
				<string>黑蒜含有效阻断致癌物质亚硝胺合成</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/05/18/index_20150518114040000000_1_57907_17.jpg</string>
				<key>name</key>
				<string>丽驰：奶油小方</string>
			</dict>
			<dict>
				<key>orginalprice</key>
				<string>42</string>
				<key>price</key>
				<string>14.8</string>
				<key>title</key>
				<string>碳烤鱿鱼足片</string>
				<key>score</key>
				<string>4</string>
				<key>intro</key>
				<string>黑蒜含有效阻断致癌物质亚硝胺合成</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/05/07/index_20150507124255000000_1_55342_99.jpg</string>
				<key>name</key>
				<string>碳烤鱿鱼足片</string>
			</dict>
			<dict>
				<key>orginalprice</key>
				<string>106</string>
				<key>price</key>
				<string>88</string>
				<key>title</key>
				<string>新农盟黑蒜</string>
				<key>score</key>
				<string>5</string>
				<key>intro</key>
				<string>黑蒜含有效阻断致癌物质亚硝胺合成</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/06/23/index_20150623103654000000_1_52741_43.jpg</string>
				<key>name</key>
				<string>新农盟黑蒜</string>
			</dict>
		</array>
	</dict>
	<key>famous</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>score</key>
				<string>5</string>
				<key>intro</key>
				<string>麦乐滋蛋糕，好再来！</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/04/09/index_20150409153830000000_1_92289_57.jpg</string>
				<key>name</key>
				<string>麦乐滋蛋糕</string>
			</dict>
			<dict>
				<key>score</key>
				<string>3</string>
				<key>intro</key>
				<string>蕾森居美食城，没听说过！</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/04/08/index_20150408153820000000_1_98894_50.jpg</string>
				<key>name</key>
				<string>蕾森居美食城</string>
			</dict>
			<dict>
				<key>score</key>
				<string>2</string>
				<key>intro</key>
				<string>鱼米之湘新,来吃霸王餐！</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/04/03/index_20150403135622000000_1_109155_62.jpg</string>
				<key>name</key>
				<string>鱼米之湘新</string>
			</dict>
			<dict>
				<key>score</key>
				<string>4</string>
				<key>intro</key>
				<string>雅博渡肉串王，啊哈哈哈！</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2014/12/26/index_20141226104752000000_1_895455_62.jpg</string>
				<key>name</key>
				<string>雅博渡肉串王</string>
			</dict>
		</array>
	</dict>
	<key>group</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>酒店</string>
				<key>id</key>
				<string>0</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2014/11/30/20141130170523000000_1_2877_100.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>健康</string>
				<key>id</key>
				<string>1</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2014/11/30/20141130170512000000_1_5772_92.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>扫货</string>
				<key>id</key>
				<string>2</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2014/11/30/20141130170424000000_1_3809_45.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>品牌</string>
				<key>id</key>
				<string>3</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2014/11/30/20141130170340000000_1_7196_45.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>汽车</string>
				<key>id</key>
				<string>4</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2014/11/30/20141130170451000000_1_4055_25.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>教育</string>
				<key>id</key>
				<string>5</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2014/11/30/20141130170311000000_1_4343_73.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>金融</string>
				<key>id</key>
				<string>6</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2014/11/30/20141130170245000000_1_2844_66.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>更多</string>
				<key>id</key>
				<string>7</string>
				<key>cover</key>
				<string>http://www.qd-life.com/images/m/icons/icon-more.png</string>
			</dict>
		</array>
	</dict>
	<key>focus</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>今年来170多项目落户青岛蓝谷</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/11/18/middle_20151118132120000000_1_308026_88.jpg</string>
				<key>link</key>
				<string>http://www.qd-life.com/news/detail?id=1855</string>
				<key>res_name</key>
				<string>res_name</string>
				<key>res_id</key>
				<string>res_id</string>
				<key>id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>今冬怎样保持空气清新？</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/11/17/middle_20151117135509000000_1_128119_100.jpg</string>
				<key>link</key>
				<string>http://www.qd-life.com/news/detail?id=1853</string>
				<key>res_name</key>
				<string>res_name</string>
				<key>res_id</key>
				<string>res_id</string>
				<key>id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>公交即将&quot;接轨&quot;地铁</string>
				<key>cover</key>
				<string>http://www.qd-life.com/static/upload/2015/11/17/middle_20151117133539000000_1_265046_50.jpg</string>
				<key>link</key>
				<string>http://www.qd-life.com/news/detail?id=1852</string>
				<key>res_name</key>
				<string>res_name</string>
				<key>res_id</key>
				<string>res_id</string>
				<key>id</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
